<%= form_tag(:action => 'create',:rqst =>request_forgery_protection_token.to_s) do |f| %>

  <strong><center>Materia</center></strong>
  <%=select_tag 'subject_id', options_for_select(@subjects.collect{ |u| [u.name+" "+u.semester,u.id]}),class:'form-control'%>

  <br><strong><center>Nombre de el evento</center></strong>
  <%=text_field_tag('name',nil,class: 'form-control',placeholder:'Por ejemplo: 3er Examen Parcial')%>


  <br><strong><center>Descripcion del evento</center></strong>
  <%= text_field_tag('description',nil,class: 'form-control',placeholder:'Por ejemplo: El examen parcial vale la mitad de la calificacion.')%>

  <br><strong><center>Día de inicio - Hora de inicio</center></strong>
  <p><span class="date"><%= datetime_select(
    'start_date',
    'fecha',
    {:order => [:day, :month, :year], :start_year => 2015, :end_year => 2016})%></span></p>


  <br><strong><center>Duracion de el evento en horas</center></strong>
  <center><%= select_tag 'duration',options_for_select(1..24),class:'form-control-small' %></center>

  <br><strong><center>Ubicacion del evento</center></strong>
  <%=text_field_tag('location',nil,class: 'form-control-small1',placeholder:'Por ejemplo: Edificio P, salon 212')%>

    <br><center>
        <p>
            <div class="actions">
                <%= submit_tag "Crear evento", class:"myButton"%>
             </div>
        </p>
    </center>

<%end%>

<style>
    .date select:nth-child(1){
        margin-left: 1%;
        float:left;
        display: block;
        width: 19%;
        height: 34px;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.42857143;
        color: #555;
        background-color: #fff;
        background-image: none;
        border: 1px solid #ccc;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
                box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
        -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
             -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
                transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
      }
      .date select:nth-child(2){
        float:left;
        display: block;
        width: 19%;
        height: 34px;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.42857143;
        color: #555;
        background-color: #fff;
        background-image: none;
        border: 1px solid #ccc;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
                box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
        -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
             -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
                transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
      }

      .date select:nth-child(3){
        float:left;
        display: block;
        width: 19%;
        height: 34px;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.42857143;
        color: #555;
        background-color: #fff;
        background-image: none;
        border: 1px solid #ccc;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
                box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
        -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
             -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
                transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
      }

      .date select:nth-child(4){
        
        display: inline-block;
        width: 19%;
        height: 34px;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.42857143;
        color: #555;
        background-color: #fff;
        background-image: none;
        border: 1px solid #ccc;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
                box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
        -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
             -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
                transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s; 
      }
        .date select:nth-child(5){
        
        display: inline-block;
        width: 19%;
        height: 34px;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.42857143;
        color: #555;
        background-color: #fff;
        background-image: none;
        border: 1px solid #ccc;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
                box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
        -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
             -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
                transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s; 
      }

      .form-control-small1{
        margin-left: 1%;
        display: block;
        width: 98%;
        height: 34px;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.42857143;
        color: #555;
        background-color: #fff;
        background-image: none;
        border: 1px solid #ccc;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
                box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
        -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
             -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
                transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
      }

    .form-control-small{
        display: block;
        width: 98%;
        height: 34px;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.42857143;
        color: #555;
        background-color: #fff;
        background-image: none;
        border: 1px solid #ccc;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
                box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
        -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
             -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
                transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
      }
</style>
