<%= render :partial => 'layouts/materias' %>

<!--Si no hay materias -->
<%unless @subjects.present? %>
  <div class="row">
          <div class="col-lg-12">
              <div class="panel panel-default">
                  <div class="panel-heading">
                      <h3 class="panel-title"><i class="fa fa-calendar fa-fw"></i>Lista de materias</h3>
                  </div>
                  <div class="panel-body">
                      <center>
                          <div id="morris-area-chart">
                            Por el momento no se ha creado ninguna materia.
                          </div>
                      </center>
                  </div>
              </div>
          </div>
  </div>
<%end%>

<!--Si hay materias, iteramos una por una y le damos formato-->
<% @subjects.each do |subject| %>
  <%if current_user.subjects.exists?(subject.id)%>
    <% imagen="<i class=\"fa fa-check-square fa-fw\"></i>".html_safe%>
  <%else%>
    <%imagen=""%>
  <%end%>
  <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <!--Encabezado con enlace a la materia-->
                    <h3 class="panel-title">
                        <%= link_to subject do %>
                          <i class="fa fa-book fa-fw"></i><%=Time.now.year%>-<%=subject.semester%> <%=subject.name%> <%=imagen%>
                        <% end %>
                    </h3>
                </div>
                  <div class="panel-body">
                      <div id="morris-area-chart">
                          <p><strong>Nombre del profesor: </strong><%= subject.user.name %></p>
                          <p><strong>Numero de grupo: </strong><%= subject.group_number %></p>
                          <p><strong>Descripcion: </strong><%= subject.body %></p>
                          <!--Si el usuario es administrador o el usuario es maestro, mostrar enlaces a editar y borrar-->
                          <% if current_user == subject.user || current_user.is_admin?%>
                            <%= link_to edit_subject_path(subject) do %>
                                <i class="fa fa-edit fa-fw"></i> Editar
                            <% end %>
                            |
                            <%= link_to subject, method: :delete, data: { confirm: 'Estas seguro de querer eliminar esta materia?' } do %>
                                <i class="fa fa-trash fa-fw"></i> Eliminar
                            <% end %>
                          <%end%>
                          <%if current_user != subject.user && !current_user.subjects.exists?(subject.id) %>
                            <%= link_to subscriptions_path(:subject_id => subject.id),method: :post do %>
                                <i class="fa fa-plus fa-fw"></i> Agregar a mis materias
                            <% end %>
                          <%end%>
                     </div>
                </div>
            </div>
        </div>
  </div>
<% end %>
