<!-- Encabezado de "Materias"-->
<%= render :partial => 'layouts/materias' %>

<div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <!-- Creamos encabezado de la materia-->
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-book fa-fw"></i><%= @subject.name %> <%=@subject.semester%></h3>
                </div>
                <div class="panel-body">
                      <p>
                        <strong>Nombre del profesor:</strong>
                          <%= @subject.user.name %>
                        </p>

                        <p>
                          <strong>Numero de grupo:</strong>
                          <%= @subject.group_number %>
                        </p>

                        <p>
                          <strong>Descripcion:</strong>
                          <%= @subject.body %>
                        </p>

                        <%if @subject.google_calendar_id%>
                          <p>
                            <center>
                            <%urlGoogleCalendar="https://calendar.google.com/calendar/embed?src="+@subject.google_calendar_id.gsub('@','%40')+"&ctz=America/Mexico_City"%>
                            <iframe src=<%=urlGoogleCalendar%> style="border:0" width="500" height="400" frameborder="0" scrolling="no"></iframe>
                            </center>
                          </p>
                        <%end%>
                    <%= link_to subjects_path+"/" do %>
                        <i class="fa fa-arrow-left fa-fw"></i> Atras
                    <% end %>
                    <% if current_user == @subject.user || current_user.is_admin?%>
                     | 
                      <%= link_to edit_subject_path(@subject) do %>
                          <i class="fa fa-edit fa-fw"></i> Editar
                      <% end %>
                      |
                      <%= link_to @subject, method: :delete, data: { confirm: 'Are you sure?' } do %>
                          <i class="fa fa-trash fa-fw"></i> Eliminar
                      <% end %>
                    <%end%>
                </div>
            </div>
        </div>
</div>