<!-- Page Heading -->
<div class="row">
    <div class="col-lg-12">
            <h1 class="page-header">
                Mis Subscripciones
            </h1>
    </div>
</div>


<%unless @subscriptions.present?%>
  <div class="row">
          <div class="col-lg-12">
              <div class="panel panel-default">
                  <div class="panel-heading">
                      <h3 class="panel-title"><i class="fa fa-calendar fa-fw"></i>Mis materias</h3>
                  </div>
                  <div class="panel-body">
                      <center>
                          <div id="morris-area-chart">
                            Por el momento no te has suscrito a ninguna materia. Mira las materias disponibles 
                            <%= link_to "aqui", subjects_path+"/"%>
                          </div>
                      </center>
                  </div>
              </div>
          </div>
  </div>
<%end%>

<% @subscriptions.each do |subscription| %>
	<!--Si hay materias, iteramos una por una y le damos formato-->
  <%subject=subscription.subject%>
  <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <!--Encabezado con enlace a la materia-->
                    <h3 class="panel-title">
                        <%= link_to subject do %>
                          <i class="fa fa-book fa-fw"></i><%=Time.now.year%>-<%=subject.semester%> <%=subject.name%>
                        <% end %>
                    </h3>
                </div>
                  <div class="panel-body">
                      <div id="morris-area-chart">
                          <p><strong>Nombre del profesor: </strong><%= subject.user.name %></p>
                          <p><strong>Numero de grupo: </strong><%= subject.group_number %></p>
                          <p><strong>Descripcion: </strong><%= subject.body %></p>
                            <%= link_to subscription,method: :delete, data:{ confirm: 'Dejar de seguir esta materia?' } do %>
                                <i class="fa fa-plus fa-fw"></i> Dejar de seguir
                            <% end %>
                     </div>
                </div>
            </div>
        </div>
  </div>
<%end%>