
<div id="wrapper">
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="icon-bar"></span>
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <%=link_to "BetterHandle" ,root_url,class:"navbar-brand" %>
        </div>
        <ul class="nav navbar-right top-nav">
            <!-- Muestra el nombre de el usuario actual y despliega menu-->
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> <%= current_user.name %> <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li class="divider"></li>
                    <li>
                        <%= link_to destroy_user_session_path,method: :delete do %>
                            <i class="fa fa-fw fa-power-off"></i> Log out
                        <% end %>

                    </li>
                </ul>
            </li>
        </ul>
        <!-- Barra lateral-->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav side-nav">
                <!-- Marcar pestaña actual como activa-->
                <% if current_page?(root_url)%>
                    <li class="active">
                <%else%>
                    <li>
                <%end%>
                  <%= link_to root_url do %>
                   <i class="fa fa-check-square-o fa-fw"></i>Inicio
                  <%end%>
                </li>
                <% if controller.controller_name=="events"%>
                    <li class="active">
                <%else%>
                    <li>
                <%end%>
                  <%= link_to events_path+"/" do %>
                   <i class="fa fa-calendar fa-fw"></i>Eventos
                  <%end%>
                </li>
                <%if current_user.is_teacher? || current_user.is_admin? %>
                    <li>
                        <%= link_to new_event_path+"/" do %>
                                <i class="fa fa-plus fa-fw"></i>Crear evento
                        <%end%>
                    </li>
                <%end%>
                <!--Materias -->
                <% if controller.controller_name == "subjects"||controller.controller_name=="subscriptions"%>
                    <li class="active">
                <%else%>
                    <li>
                <%end%>
                    <a href="javascript:;" data-toggle="collapse" data-target="#demo"><i class="fa fa-book fa-fw"></i> Materias <i class="fa fa-fw fa-caret-down"></i></a>
                    <ul id="demo" class="collapse">
                        <%if current_user.is_teacher? || current_user.is_admin? %>
                            <li>
                            <%= link_to created_subjects_path+"/" do %>
                                <i class="fa fa-star fa-fw"></i>Mis materias creadas
                            <%end%>
                            </li>
                        <% end %>
                        <%if current_user.is_teacher? || current_user.is_admin? %>
                            <li>
                            <%= link_to new_subject_path+"/" do %>
                                <i class="fa fa-plus fa-fw"></i>Crear Materia
                            <%end%>
                            </li>
                        <% end %>
                        <li>
                          <%= link_to subscriptions_path+"/" do %>
                             <i class="fa fa-check-square fa-fw"></i>Mis Subscripciones
                          <%end%>
                        </li>
                        <li>
                          <%= link_to subjects_path+"/" do %>
                             <i class="fa fa-reorder fa-fw"></i>Todas las materias
                          <%end%>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </nav>

</div>
<!-- /#wrapper -->